#navbar-main {
    background-color: #01262f;
}
a:hover {
    color: #94bec7;
}
#short {
    color: #a0e6ec;
    font-size: 24px;
    font-style: italic;
}
.heading {
    font: bold;
    font-size: 32px;
}
.heading-56 {
    font: bold;
    font-size: 56px;
}
.font-48 {
    font-size: 60px;
}
.scrollspy-content-tab {
    overflow: auto;
    height: 430px;
}
.service-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 240px 240px;
}